.App {
  padding: 0px 20px;
}

.button {
  background-color: #ee8b8b;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid #ee8b8b;
}

.button:hover {
  cursor: pointer;
  background-color: #f1F1F1;
  border: 2px solid #ee8b8b;
  color: #ee8b8b;
}